/* Default Styling */

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 0.6fr 6fr;
  height: 100vh;
}

p, h1, h2 {
  margin: 0;
}

/* Header Styling */

header {
  background-color: #1c130f;
  border-bottom: 3px solid #b59164;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

nav {
  display: flex;
  gap: 50px;
}

nav > button {
  font-family: "WinkyMedium";
  font-size: 1.5rem;
  padding: 8px 30px;
  background-color: #442e24;
  color: white;
  border: 2px solid #b59164;
  transition: 0.15s all;
  cursor: pointer;
}

nav > button:hover {
  background-color: #b59164;
  border: 2px solid #442e24;
  color: black;
  scale: 1.2;
}

/* Main Styling */ 

#content {

}

.homePage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(24, 34, 34, 0.5) ), url(images/restaurant.jpg);
  background-size:auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  grid-template-rows: 1fr 1fr 1.5fr;
  height: 100%;
}

.restaurantName, .restaurantTitle, .restaurantText {
  color: white;
}

.restaurantName {
  font-family: 'WinkyBold';
  font-size: 7rem;
  color: #e0caaf;
  align-self: end;
  justify-self: center;
}

.restaurantTitle {
  font-family: 'WinkyMedium';
  font-size: 2rem;
  align-self: self-start;
  justify-self: center;
}

.restaurantText {
  font-family: 'WinkyRegular';
  font-size: 1.3rem;
  align-self: flex-start;
  justify-self: center;
}

/* Menu Styling */ 

.menuPage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(24, 34, 34, 0.5) ), url(images/restaurant.jpg);
  background-size:auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  display: grid;
  grid-template-rows: 0.5fr repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 50px;
}

.restaurantMenu {
  font-family: 'WinkyBold';
  font-size: 2rem;
  color: #e0caaf;
  justify-self: center;
  margin-top: 60px;
}

.menuPage p {
  color: white;
}

.breakfestMenu, .lunchMenu, .dinnerMenu, .dessertsMenu, .drinksMenu {
  border: 2px solid #b59164;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(121, 101, 13, 0.226);
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.15s;
  box-shadow: 1px 1px 5px #b59164;
}

.breakfestMenu:hover, .lunchMenu:hover, .dinnerMenu:hover, .dessertsMenu:hover,
.drinksMenu:hover {
  scale: 1.2;
  box-shadow: 1px 1px 30px #b59164;
}

.breakfestMenu > p, .lunchMenu > p, .dinnerMenu > p, .dessertsMenu > p
, .drinksMenu > p {
  font-family: "WinkyMedium";
  font-size: 28px;
  align-self: center;
  justify-self: center;
  border-bottom: 2px solid #e0caaf;
}

.breakfestMenu > div > p, .lunchMenu > div > p, .dinnerMenu > div > p 
, .dessertsMenu > div > p, .drinksMenu > div > p {
  font-family: "WinkyRegular";
  align-self: center;
  justify-self: center;
}

.breakfestMenu > div > p:first-child, .lunchMenu > div > p:first-child,
 .dinnerMenu > div > p:first-child , .dessertsMenu > div > p:first-child,
 .drinksMenu > div > p:first-child {
  color: #fad19e;
}

.breakfestMenu > div > p:first-child + p, .lunchMenu > div > p:first-child + p,
 .dinnerMenu > div > p:first-child + p
 , .dessertsMenu > div > p:first-child + p, .drinksMenu > div > p:first-child + p{
  border-bottom: 1px solid #e0caaf;
  padding-bottom: 3px;
}


/* Fonts */

@font-face {
  font-family: 'WinkyMedium';
  src: url(fonts/WinkySans-Medium.ttf);
  font-style: normal;
}

@font-face {
  font-family: "WinkyRegular";
  src: url(fonts/WinkySans-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "WinkyBold";
  src: url(fonts/WinkySans-Bold.ttf);
  font-style: normal;
}